<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"><application android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="Echofang"><activity android:name=".GodotApp" android:screenOrientation="landscape" android:configChanges="orientation|screenSize|keyboardHidden" android:exported="true"/></application></manifest>
